body {
    background-color: #472d3c;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 320px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". viewport-tab ." ". viewport-tab ." ". . ." ". . .";
}
  
.viewport-tab {
    grid-area: viewport-tab;
    border-width: 2px;
    border-color: #cfc6b8;
    border-style: solid;
}

#viewport-canvas {
    width: 320;
    height: 320;
}